@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #f5f8ff;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;

}

.primary-text{
    color: #E95A08;
}
.primary-btn{
    background-color: #E95A08;
    color: white;
        cursor: pointer;
}
.primary-btn:hover{
    background-color: #f02409;
    color: white;
        cursor: pointer;
}

section{
    margin: 200px 0;
    
}


/* plants lover section  */
.trusted-badge{
    top: -90px;
    left: 400px;
    width: 200px;
}

/* latest deals section  */
.deal-1,.deal-2, .deal-3{

     width: 100%;
     padding: 70px 0;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 20px;
     color: white;
     font-weight: bold;
}
.deal-1{
   background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('./assets/deal-bloom.png');
    background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
    
}
.deal-2{
     background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./assets/deal-ana.png');
      background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
}
.deal-3{
     background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./assets/deal-zabo.png');
      background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
}
.shop-now-link{
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}

/* colorful bunch section  */
.colorful-bunch{
    
     background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('./assets/news-letter-bg.png');
      background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     color: white;
     padding: 180px 0;
}